<div class="container-fluid vh-100 overflow-hidden">
  <div class="row vh-100">
    <button class="btn btn-sm position-fixed top-0 start-0 mt-2 ms-2 d-md-none" 
            type="button" 
            (click)="onToggleSidebar()"
            style="z-index: 1046; padding: 0.25rem 0.5rem; font-size: 1.5rem;">
      ☰
    </button>

    <!-- left col -->
    <div class="col-md-3 p-1 mt-5 bg-white text-center position-fixed start-0" 
         [class.d-none]="!showSidebar" 
         [class.d-md-block]="true">
      <p>History</p>
      <app-chat-history 
        [chats]="chats" 
        (chatSelected)="onChatSelected($event)">
      </app-chat-history>
    </div>

    <!-- right col -->
    <div class="col-12 p-5 col-md-11 offset-md-3 d-flex flex-column vh-100" style="padding-left: 15px;">
      <!-- chat section -->
      <div class="flex-grow-1 mt-5 overflow-auto px-3 px-md-5 py-4">
        <router-outlet></router-outlet>
      </div>
      <!-- input -->
      <div class="message-input-container p-3 bg-white border-top" *ngIf="!showSidebar">
        <app-message-input 
          (messageSent)="onSubmit($event)">
        </app-message-input>
      </div>
    </div>
  </div>
</div>
