<div class="input-group w-75">
  <input 
    type="text" 
    [(ngModel)]="messageContent" 
    class="form-control border rounded-start" 
    placeholder="Type your message here"
    style="border-right: none;">
  <div style="width: 10px;"></div>
  <button 
    class="rounded d-flex align-items-center justify-content-center"
    style="width: 50px;"
    (click)="sendMessage()"
    >
    <ng-container *ngIf="!isBotTyping; else squareIcon">
        Send
    </ng-container>
    <ng-template #squareIcon>
        Stop
    </ng-template>
  </button>
</div>